.Rproj.user
.Rhistory
.RData
.Ruserdata
Biodiversity_Data_from_Field_to_Yield.Rproj
IUCN__results_map
*.txt
IUCN_results.xlsx
inst/WWF_ecoregions/
docs/inst
docs/IUCN__results_map
docs/*.pdf
docs/*.txt
docs/*.nex
talks/*.pptx
talks/*.R